body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  box-sizing: border-box;
}

.App {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid grey;
  font-size: 20px;
  padding: 25px 0;
}

.header__element {
  width: 25%;
  text-align: center;
}

.city__name {
  font-size: 30px;
  font-weight: bold;
}

.city__pointer,
.label__title {
  margin-bottom: 10px;
}

.select {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 16px;
}

.daily {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  margin-bottom: 20px;
}

.daily__element {
  text-align: center;
  padding: 15px;
  width: 14.285%;
  font-weight: bold;
}

.hourly {
  display: flex;
  flex-wrap: wrap;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 20px;
}

.hourly__element {
  width: 16.666%;
  text-align: center;
  margin-bottom: 15px;
}

.hourly__time,
.hourly__temperature {
  font-weight: bold;
}

.hourly__temperature {
  margin-bottom: 2px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  border-top: 2px solid grey;
  font-size: 18px;
}

.footer__part {
  width: 20%;
  text-align: center;
}

.footer__part:nth-of-type(2n) {
  width: 40%;
}

.footer__author {
  display: block;
  font-weight: bold;
}

.footer__link {
  text-decoration: none;
}
