body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  box-sizing: border-box;
}

.App {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.header {
  text-align: center;
  font-size: 20px;
  padding: 25px 0;
  position: relative;
  z-index: 10;
  border-bottom: 1px solid #7e7e73;
}

.main,
.header,
.footer {
  background-color: #b4b5a4;
}

.header__title {
  font-size: 30px;
  margin-bottom: 30px;
}

.form {
  margin-bottom: 20px;
}

.header__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.city__name {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.city__pointer {
  margin-bottom: 10px;
  font-style: italic;
}

.label__title {
  margin-right: 30px;
}

.select {
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 0 0 2px white;
  font-size: 16px;
  background-color: transparent;
  color: inherit;
  outline: 0;
  appearance: none;
  cursor: pointer;
}

.select__option {
  background-color: dimgray;
  color: black;
}

.main {
  position: relative;
  padding: 25px 0;
  z-index: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 500px;
  top: 0;
  z-index: -1;
  background: linear-gradient(180deg, rgba(126, 126, 115, 1) 10%, rgba(180, 181, 164, 1) 90%);
}

.night-light .wrapper {
  background: linear-gradient(180deg, rgba(38, 38, 38, 1) 10%, rgba(49, 51, 57, 1) 90%);
}

.header__video {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0.3;
  object-fit: cover;
}

.night-light .header__video {
  opacity: 0.2;
}

.night-light {}

.night-light .cloud {
  background: linear-gradient(180deg, rgba(47, 46, 46, 1) 10%, rgba(49, 51, 57, 1) 90%);
}

.night-light .snow {
  background: linear-gradient(180deg, rgba(38, 40, 47, 1) 10%, rgba(49, 51, 57, 1) 90%);
}

.cloud {
  background: linear-gradient(180deg, rgba(143, 141, 129, 1) 10%, rgba(180, 181, 164, 1) 90%);
}

.snow {
  background: linear-gradient(180deg, rgba(126, 128, 125, 1) 10%, rgba(180, 181, 164, 1) 90%);
}

.video__background {}


.night {
  color: white;
}

.night .header {
  background-color: black;
  opacity: 0.85;
  z-index: 0;
  border-bottom: 2px solid #2F2E2E;
}

.night .main,
.night .footer {
  background-color: #313339;
  z-index: 0;
}

.section__title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.daily {
  padding: 0 10px;
  margin-bottom: 25px;
}

.rec.rec-arrow {
  background-color: whitesmoke;
  opacity: 0.7;
}

.rec.rec-arrow:hover:enabled,
.rec.rec-arrow:focus:enabled {
  background-color: grey;
  opacity: 1;
}

.daily__svg {
  height: 60px;
  width: 60px;
}

.daily__element {
  text-align: center;
  padding: 10px 15px;
  max-width: 160px;
  width: 100%;
  font-weight: bold;
  border: 3px solid dimgray;
  border-radius: 35px;
  margin-right: 10px;
}

.daily__element:last-of-type {
  margin-right: 0;
}

.daily__element:hover {
  background-color: #585e5f;
  cursor: pointer;
}

.daily__date {
  font-size: 20px;
}

.daily__info {
  font-style: italic;
}

.hourly {
  max-width: 800px;
  width: 100%;
  margin: 0 auto 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-weight: 300;
  font-size: 18px;
  padding: 0 10px;
}

.hourly__element {
  margin-bottom: 15px;
  border: 2px solid dimgray;
  border-radius: 10px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hourly__code {
  display: flex;
  align-items: center;
}

.hourly__info {
  text-align: center;
  font-size: 20px;
}

.hourly__icon {
  margin-right: 10px;
}

.hourly__description {
  font-weight: bold;
}

.hourly__time,
.hourly__temperature {
  font-weight: bold;
}

.hourly__temperature {
  margin-bottom: 3px;
}

.hourly__svg {
  width: 80px;
  height: 80px;
}

.hourly__additional {
  font-style: italic;
}

.btn-wrapper {
  max-width: 160px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 2px solid dimgray;
  color: dimgrey;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: whitesmoke;
  cursor: pointer;
}

.hourly__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn__text {
  font-style: italic;
}

.btn__svg {
  width: 18px;
  height: 18px;
}

.popup {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 0;
}

.popup-active {
  display: block;
}

.popup-wrapper {
  display: block;
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 415px;
  width: 100%;
  background-color: whitesmoke;
  color: black;
  padding: 20px;
  border-radius: 10px;
  z-index: 30;
}

.popup__title {
  font-size: 18px;
  font-weight: bold;
}

.popup__title,
.popup__text {
  margin-bottom: 7px;
}

.popup__btn {
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 20px;
}

.popup__close {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  padding: 3px 5px;
  border: none;
  background-color: transparent;
}

.popup__svg {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  border-top: 2px solid grey;
  font-size: 18px;
}

.footer__part {
  width: 20%;
  text-align: center;
}

.footer__part:nth-of-type(2n) {
  width: 40%;
}

.footer__author {
  display: block;
  font-weight: bold;
}

.footer__link {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .header__video {
    object-fit: none;
  }

  .daily__element {
    width: 90%;
  }

  .hourly__code {
    flex-direction: column;
  }

  .hourly__icon {
    margin-right: 0;
  }

  .hourly__description {
    padding-right: 12px;
  }
}
